[submodule "opendlv-device-gps-nmea"]
	path = opendlv-device-gps-nmea
	url = https://github.com/chalmers-revere/opendlv-device-gps-nmea.git
[submodule "opendlv-device-gps-ncom"]
	path = opendlv-device-gps-ncom
	url = https://github.com/chalmers-revere/opendlv-device-gps-ncom.git
[submodule "opendlv-standard-message-set"]
	path = opendlv-standard-message-set
	url = https://github.com/chalmers-revere/opendlv.standard-message-set.git
[submodule "opendlv-device-lidar-hdl32e"]
	path = opendlv-device-lidar-hdl32e
	url = https://github.com/chalmers-revere/opendlv-device-lidar-hdl32e.git

[submodule "opendlv-signal-viewer"]
	path = opendlv-signal-viewer
	url = https://github.com/chalmers-revere/opendlv-signal-viewer.git
[submodule "opendlv-vehicle-view"]
	path = opendlv-vehicle-view
	url = https://github.com/chalmers-revere/opendlv-vehicle-view.git
[submodule "opendlv-device-gps-pos"]
	path = opendlv-device-gps-pos
	url = https://github.com/chalmers-revere/opendlv-device-gps-pos.git
[submodule "opendlv-device-lidar-vlp16"]
	path = opendlv-device-lidar-vlp16
	url = https://github.com/chalmers-revere/opendlv-device-lidar-vlp16.git
[submodule "cluon-livefeed"]
	path = cluon-livefeed
	url = https://github.com/chrberger/cluon-livefeed.git
[submodule "cluon-rec2fuse"]
	path = cluon-rec2fuse
	url = https://github.com/chrberger/cluon-rec2fuse.git
[submodule "opendlv-device-ultrasonic-srf08"]
	path = opendlv-device-ultrasonic-srf08
	url = https://github.com/chalmers-revere/opendlv-device-ultrasonic-srf08.git
[submodule "opendlv-video-h264-encoder"]
	path = opendlv-video-h264-encoder
	url = https://github.com/chalmers-revere/opendlv-video-h264-encoder.git
[submodule "opendlv-video-h264-decoder"]
	path = opendlv-video-h264-decoder
	url = https://github.com/chalmers-revere/opendlv-video-h264-decoder.git
[submodule "rec2csv-png"]
	path = rec2csv-png
	url = https://github.com/chalmers-revere/rec2csv-png.git
[submodule "opendlv-device-camera-v4l"]
	path = opendlv-device-camera-v4l
	url = https://github.com/chalmers-revere/opendlv-device-camera-v4l.git
[submodule "opendlv-device-camera-opencv"]
	path = opendlv-device-camera-opencv
	url = https://github.com/chalmers-revere/opendlv-device-camera-opencv.git
[submodule "opendlv-video-vpx-encoder"]
	path = opendlv-video-vpx-encoder
	url = https://github.com/chalmers-revere/opendlv-video-vpx-encoder.git
[submodule "opendlv-video-vpx-decoder"]
	path = opendlv-video-vpx-decoder
	url = https://github.com/chalmers-revere/opendlv-video-vpx-decoder.git
[submodule "opendlv-video-x264-encoder"]
	path = opendlv-video-x264-encoder
	url = https://github.com/chalmers-revere/opendlv-video-x264-encoder.git
[submodule "opendlv-device-camera-rpi"]
	path = opendlv-device-camera-rpi
	url = https://github.com/chalmers-revere/opendlv-device-camera-rpi.git
[submodule "opendlv-device-ps3controller"]
	path = opendlv-device-ps3controller
	url = https://github.com/chalmers-revere/opendlv-device-ps3controller
[submodule "opendlv-device-lidar-vlp32c"]
	path = opendlv-device-lidar-vlp32c
	url = https://github.com/chalmers-revere/opendlv-device-lidar-vlp32c
[submodule "opendlv-device-gamepad"]
	path = opendlv-device-gamepad
	url = https://github.com/chalmers-revere/opendlv-device-gamepad
[submodule "opendlv-device-camera-ueye"]
	path = opendlv-device-camera-ueye
	url = https://github.com/chalmers-revere/opendlv-device-camera-ueye
[submodule "opendlv-device-lidar-rplidar"]
	path = opendlv-device-lidar-rplidar
	url = https://github.com/chalmers-revere/opendlv-device-lidar-rplidar.git
[submodule "opendlv-device-camera-pylon"]
	path = opendlv-device-camera-pylon
	url = https://github.com/chalmers-revere/opendlv-device-camera-pylon.git
[submodule "opendlv-device-cangw-rhino"]
	path = opendlv-device-cangw-rhino
	url = https://github.com/chalmers-revere/opendlv-device-cangw-rhino.git
